include "autostart.kdl"
include "variables.kdl"
include "input.kdl"
include "output.kdl"
include "binds.kdl"
include "layout.kdl"
include "window_rules.kdl"
include "animations.kdl"
include "debug.kdl"
include "noctalia.kdl"
