layout {
    gaps 20
    center-focused-column "never"
    always-center-single-column
    default-column-display "tabbed"
    tab-indicator {
        off
    }
    preset-column-widths {
        proportion 0.5
        proportion 0.5
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 1
    }
    border {
        width 1
    }
}
