layout {

    focus-ring {
        active-color   "#b8beb6"
        inactive-color "#1d211c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#b8beb6"
        inactive-color "#1d211c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1d211c70"
    }

    tab-indicator {
        active-color   "#b8beb6"
        inactive-color "#5c6b56"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#b8beb680"
    }
}

recent-windows {
    highlight {
        active-color "#b8beb6"
        urgent-color "#fd4663"
    }
}
