layout {

    focus-ring {
        active-color   "#ed5eb4"
        inactive-color "#291421"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#ed5eb4"
        inactive-color "#291421"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#29142170"
    }

    tab-indicator {
        active-color   "#ed5eb4"
        inactive-color "#95045b"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#ed5eb480"
    }
}

recent-windows {
    highlight {
        active-color "#ed5eb4"
        urgent-color "#fd4663"
    }
}
