window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="foot"
    match app-id="ZenNotes"
    opacity 0.95 
    draw-border-with-background false
}

// YouTube Music
window-rule {
    match app-id="chrome-cinhimbnkkaeohfgghhklpknlkffjgod-Default"
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 768; }
    opacity 0.95 
    draw-border-with-background false
}

window-rule {
    match app-id="chrome-eppojlglocelodeimnohnlnionkobfln-Default" // Netflix
    match app-id="gimp"
    match app-id="org.inkscape.Inkscape"
    match app-id="com.github.johnfactotum.Foliate"
    open-maximized true
}

window-rule {
    match app-id="wdisplays"
    match app-id="org.gnome.Calculator"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 640; }
}

window-rule {
    match app-id="net.lutris.Lutris"
    match app-id="upc.exe"
    match app-id="steam"
    match app-id="org.prismlauncher.PrismLauncher"
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 768; }
}

window-rule {
    match app-id="com.github.rafostar.Clapper"
    match app-id="org.gnome.Papers"
    match app-id="org.gnome.Loupe"
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 768; }
}

window-rule {
    match app-id="com.rafaelmardojai.Blanket"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}
