window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="foot"
    opacity 0.95 
    draw-border-with-background false
}
